@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-color: #e6db86;
  --light-color: #fcfbf0;
  --hover-color: #f6f2d2;
  --blue-color: #4486b8;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
}

body {
  background-color: var(--light-color) !important;
}

form {
  display: flex;
  flex-direction: column;
}

a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.instructions span {
  color: inherit;
  background-color: inherit;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px var(--hover-color);
  border-bottom-color: var(--blue-color);
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}
.home {
  min-height: calc(100vh - 170px);
}
